## Numeric datatype

In [37]:
11*2

22

In [38]:
2-1

1

In [39]:
3-0

3

# Heading
## abc
### cd
hello

In [40]:
print(input('Enter Your Name: '))

Enter Your Name:

In [41]:
print('hello world')

hello world

In [42]:
print(2+4+5)

11

In [43]:
# This is the comment
2+3

5

In [44]:
'This is the comment'
2+3

5

In [45]:
'This is a string'

'This is a string'

In [46]:
"String"

'String'

In [47]:
'''This is Hello World'''

'This is Hello World'

In [48]:
a= 89
print(a)

89

In [49]:
x=34
print(x)

34

In [50]:
print(a*x)

3026

In [51]:
a= 1024

In [52]:
a=35

In [53]:
print(a)

35

In [54]:
x=12
print(x)
type(x)

12

int

In [55]:
y=2.99
print(y)
type(y)

2.99

float

In [56]:
print(x*y)
type(x*y)

35.88

float

In [57]:
x+y

14.99

In [58]:
x-y

9.01

In [59]:
x/y

4.013377926421405

In [60]:
30/16

1.875

In [61]:
40//15

2

In [62]:
7%4

3

In [63]:
2**3

8

In [64]:
8**(1/3)

2.0

In [65]:
4**0.5

2.0

In [66]:
(2+10)*(5+2)

84

In [67]:
x

12

In [68]:
x=float(x)

In [69]:
type(x)

float

In [70]:
z=int(5.99)
type(z)

int

In [71]:
x=20
y=9
print(x,y,sep='\n')

20
9

In [72]:
print(x+y)

29

In [73]:
print(x-y)

11

In [74]:
print(x*y)

180

In [75]:
print(x//y)

2

In [76]:
print(x/y)

2.2222222222222223

In [77]:
print(x%y)

2

In [78]:
# divmod: output both divider and remainder 
divmod(x,y)

(2, 2)

In [79]:
a=4
b=5
c=6
(a**b)%c

4

In [80]:
import math
a,b,c = 4,5,6
math.pow(a,b)%c

4.0

In [81]:
round(156700.23456,-4)

160000.0

# String Creation

In [82]:
'a'

'a'

In [83]:
g='''This is 'ordinary'
hello
world
machine learning course'''

In [84]:
print(g)

This is 'ordinary'
hello
world
machine learning course

In [85]:
x = 'Hello,my name is Nihar'
y=',Whatis your name'

In [86]:
z=x+y
z

'Hello,my name is Nihar,Whatis your name'

In [87]:
print(x+ '  hello'+y)

Hello,my name is Nihar  hello,Whatis your name

In [88]:
print(9+2)
print('9'+'2')
print('9'+2)

11
92

TypeError: can only concatenate str (not "int") to str

#  split

In [ ]:
z='This is  a very i long i string i like this string'
z.split()

In [ ]:
z = '         something some   '
z= z.strip()
z

In [ ]:
z.lstrip()

In [ ]:
z.rstrip()

In [89]:
z.replace('some','no')

'Hello,my name is Nihar,Whatis your name'

In [90]:
len(z)

39

In [91]:
z.upper()

'HELLO,MY NAME IS NIHAR,WHATIS YOUR NAME'

In [92]:
z.lower()

'hello,my name is nihar,whatis your name'

In [93]:
z.capitalize()

'Hello,my name is nihar,whatis your name'

In [94]:
x

'Hello,my name is Nihar'

In [95]:
y

',Whatis your name'

In [96]:
print(x+y)

Hello,my name is Nihar,Whatis your name

In [97]:
print('this is {1} ,hello {0}'.format('Nihar','Ranjan') )

this is Ranjan ,hello Nihar

In [98]:
x= 'Hello to the World'
x

'Hello to the World'

In [99]:
x[0::1]
x[-1::-1]

'dlroW eht ot olleH'

In [100]:
len(x)

18

In [101]:
x[0]

'H'

In [102]:
x[17]

'd'

In [103]:
x[0:6]

'Hello '

In [104]:
x[13:18]

'World'

In [105]:
x[-1]

'd'

In [106]:
x[6:-1]

'to the Worl'

In [107]:
x[1::3]

'eoohWl'

In [108]:
x[-1::]

'd'

In [109]:
x[::-1]

'dlroW eht ot olleH'

In [110]:
x

'Hello to the World'

In [111]:
x[0::5]

'H hr'

In [112]:
x[-2:-16:-1]

'lroW eht ot ol'

In [113]:
n=20
print(*range(20+1),sep='')

01234567891011121314151617181920

In [114]:
s= 'Hello Petter Pan Patato, Marker PennyPat-a-Cake'
s.swapcase()

'hELLO pETTER pAN pATATO, mARKER pENNYpAT-A-cAKE'

In [115]:
text ='''Polly is#lazy in at#typing,she has used special@characters '''
print(''.join(txt for txt in text.split('#')).split('@'))

['Polly islazy in attyping,she has used special', 'characters ']

In [116]:
s='abc1234def5678ghijk91234lmn56789'
z=[int(x) for x in s if x.isnumeric()]

In [117]:
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
print(sum(z)/len(z))

5.0

In [119]:
a='abcdf'
a[0]='g'

TypeError: 'str' object does not support item assignment

## List Datatype

In [120]:
lst=['ab','cd',1,2,4,True,False]
lst

['ab', 'cd', 1, 2, 4, True, False]

In [121]:
lst[0]=9
lst

[9, 'cd', 1, 2, 4, True, False]

In [122]:
lst[-1]

False

In [123]:
lst[0:8]

[9, 'cd', 1, 2, 4, True, False]

In [124]:
lst1=[1,2,3,4,5]

In [125]:
lst2=lst+lst1
lst2

[9, 'cd', 1, 2, 4, True, False, 1, 2, 3, 4, 5]

In [126]:
lst2.append(89)
lst2

[9, 'cd', 1, 2, 4, True, False, 1, 2, 3, 4, 5, 89]

In [127]:
lst2.append([1,2,3])
lst2

[9, 'cd', 1, 2, 4, True, False, 1, 2, 3, 4, 5, 89, [1, 2, 3]]

In [128]:
lst2.pop()

[1, 2, 3]

In [129]:
lst2

[9, 'cd', 1, 2, 4, True, False, 1, 2, 3, 4, 5, 89]

In [130]:
lst2.extend([9,8,7,0])

In [131]:
lst2

[9, 'cd', 1, 2, 4, True, False, 1, 2, 3, 4, 5, 89, 9, 8, 7, 0]

In [132]:
lst2.extend('try')
lst2

[9, 'cd', 1, 2, 4, True, False, 1, 2, 3, 4, 5, 89, 9, 8, 7, 0, 't', 'r', 'y']

In [133]:
lst2.insert(3,'newobj')

In [134]:
lst2

[9,
 'cd',
 1,
 'newobj',
 2,
 4,
 True,
 False,
 1,
 2,
 3,
 4,
 5,
 89,
 9,
 8,
 7,
 0,
 't',
 'r',
 'y']

In [135]:
lst2.remove(3)
lst2

[9,
 'cd',
 1,
 'newobj',
 2,
 4,
 True,
 False,
 1,
 2,
 4,
 5,
 89,
 9,
 8,
 7,
 0,
 't',
 'r',
 'y']

In [136]:
lst2.pop()

'y'

In [137]:
lst2

[9, 'cd', 1, 'newobj', 2, 4, True, False, 1, 2, 4, 5, 89, 9, 8, 7, 0, 't', 'r']

In [138]:
lst2.pop(3)
lst2

[9, 'cd', 1, 2, 4, True, False, 1, 2, 4, 5, 89, 9, 8, 7, 0, 't', 'r']

In [139]:
lst2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [140]:
lst4=[9,12,3,4,5,6,7,8,90,45,67,53]
lst4.sort()
lst4

[3, 4, 5, 6, 7, 8, 9, 12, 45, 53, 67, 90]

In [141]:
sorted(lst4,reverse=True)

[90, 67, 53, 45, 12, 9, 8, 7, 6, 5, 4, 3]

In [142]:
import random
List = [10, 45, 78, 11, 9, 23]
random.shuffle(List)
print(List)

[78, 11, 45, 23, 10, 9]

## Boolean datatype

In [143]:
2==7

False

In [144]:
2<7

True

In [145]:
2>7

False

#### Boolean operator <,>,<=,>=,!=

In [146]:
bool(None)

False

In [147]:
bool(-1)

True

In [148]:
bool(0)

False

In [149]:
bool(1)

True

In [150]:
name ='Nihar'
name2 ='nihar'
name==name2

False

In [151]:
name.lower()==name2

True

In [152]:
name==name2.capitalize()

True

In [153]:
name>=name2

False

In [154]:
2>7>90

False

In [155]:
2<7<90

True

In [156]:
2<7 & 7<90

True

In [157]:
2>7 & 7<90

False

In [158]:
2<7 or 7<90

True

In [159]:
(2<7) | (7>900)

True

### if condion

In [160]:
cake = input('Enter your value : ')
if cake == 'baking':
    print('cake is Baking !!','\n',' Goodbye')
else:
        print('cake is not Baking !!','\n','Welcome')

Enter your value : baking
cake is Baking !!
  Goodbye

In [161]:
cake = input('Enter your value : ')
food ='tasty'
if cake == 'baking':
    print('cake is Baking !!','\n',' Goodbye')
elif cake == 'Baked':
    print('cake baked already')
elif cake =='donot like':
    print('no cake today')
    if food =='tasty':
        print('food is yummy')
        if food != 'tasty':
            print('give me chocolate')

else:
        print('cake is not Baking !!','\n','Welcome')

Enter your value : baking
cake is Baking !!
  Goodbye

In [162]:
cake = input('Enter your value : ')
food = input('Enter your value : ')
if cake == 'baking':
    print('cake is Baking !!','\n',' Goodbye')
elif cake == 'Baked':
    print('cake baked already')
elif cake =='donot like':
    print('no cake today')
    if food =='tasty':
        print('food is yummy')
    else:
        print('give me chocolate')
else:
        print('cake is not Baking !!','\n','Welcome')

Enter your value : donot like
Enter your value : yes
no cake today
give me chocolate

### For loop and while loop

In [163]:
name=['Arya','Karisma','jhon','Tokyo','Berlin']

In [164]:
for i in name:
    print('Hello ' +  i)

Hello Arya
Hello Karisma
Hello jhon
Hello Tokyo
Hello Berlin

In [165]:
for char in 'MyNameisJhon':
    print(char)
    for i in ' ':
        print(i)

M

y

N

a

m

e

i

s

J

h

o

n

In [166]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [167]:
for i in range(20,27):
    print(i)

20
21
22
23
24
25
26

In [168]:
for i in range(20,120,10):
    print(i)

20
30
40
50
60
70
80
90
100
110

In [169]:
count =0
for i in 'Mynameishaon':
    print(count)
    count +=1
    if count>6:
        continue

0
1
2
3
4
5
6
7
8
9
10
11

In [170]:
count =0
for i in 'Mynameishaon':
    print(count)
    count +=1
    if count>6:
        break

0
1
2
3
4
5
6

In [171]:
count=9
while count<5:
    print(count)
    count +=1
else:
    print('the number is >= 5')

the number is >= 5

In [172]:
i = 1
while i<=5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

In [173]:
list2= [2,3,5,6,1,-34]
print(list2)
i=0
for i in range(i,len(list2)):
    for j in range(i+1,len(list2)):
        if (list2[i] > list2[j]):
            temp = list2[i]
            list2[i] = list2[j]
            list2[j] = temp
print("the ascending value are : ",list2)

[2, 3, 5, 6, 1, -34]
the ascending value are :  [-34, 1, 2, 3, 5, 6]

In [174]:
list2= [2,3,5,6,1,-34]
print(list2)
i=0
for i in range(i,len(list2)):
    for j in range(i+1,len(list2)):
        if (list2[i] < list2[j]):
            temp = list2[j]
            list2[j] = list2[i]
            list2[i] = temp
print("the descending value are : ",list2)

[2, 3, 5, 6, 1, -34]
the descending value are :  [6, 5, 3, 2, 1, -34]

In [175]:
list1 = []
for i in range(-10,0):
    list1.append(i)
print(list1)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [176]:
n = int(input("Enter a number: "))
fact = 1
if n < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
        fact *= i
    print("The factorial of {} is {}".format(n,fact))

Enter a number: 100
The factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [177]:
list1 = list(range(0,101))
list2= []
for num in list1:
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break 
        else:
            list2.append(num) 
print("The prime number between 0 to 100 are : {}".format(list2))
print("The number of prime number between 0 to 100 are : {}".format(len(list2)))

The prime number between 0 to 100 are : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
The number of prime number between 0 to 100 are : 25

In [178]:
list3 = []
for i in range(1,6):
    list3.append(i)
    print(list3)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [180]:
n = int(input("Enter a number : "))
sum = 0
for i in range(1,n+1):
    sum = sum +i
print("sum is", sum)

Enter a number : 1000
sum is 500500

In [184]:
n = int(input("Enter a number : "))
print('Factorial of number is ',int(n*(n+1)/2))

Enter a number : 1000
Factorial of number is  500500

In [185]:
n=int(input("Enter number:"))
count = 0
while(n>0):
    count += 1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:100
The number of digits in the number are: 3

In [186]:
num = int(input("Enter a number: "))
for i in range(1,11):
   print(num,'x',i,'=',num*i)

Enter a number: 100
100 x 1 = 100
100 x 2 = 200
100 x 3 = 300
100 x 4 = 400
100 x 5 = 500
100 x 6 = 600
100 x 7 = 700
100 x 8 = 800
100 x 9 = 900
100 x 10 = 1000

In [188]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [189]:
list1 = [10, 20, 30, 40, 50]
list2=[]
for i in range(len(list1)-1,-1,-1):
    list2.append(i)
print(list2)

[4, 3, 2, 1, 0]

In [190]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [191]:
str = input("Enter a string: ")
d=l=0
for c in str:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("The number of digits : ", d)
print("The number of letters : ", l)

Enter a string: 123nihar
The number of digits :  3
The number of letters :  5

In [192]:
list1 = [5,"mar",1994,"weight",76.8,"kg"]
list1_int = []
list1_str = []
list1_float = []
for i in list1:
    if type(i)==int:
        list1_int.append(i) 
    elif type(i)==float:
        list1_float.append(i)
    else:
        list1_str.append(i)   
print(list1_int)
print(list1_str)
print(list1_float)

[5, 1994]
['mar', 'weight', 'kg']
[76.8]

### Function

In [195]:
numlist=[1,2,3,4,5,6,7]
result=0
for num in numlist:
    result = result + num
    print(result)
print(result)

1
3
6
10
15
21
28
28

In [196]:
def sum(x,y):
    return x+y

In [197]:
sum(9,88)

97

In [203]:
def adder(n):
    result=0
    for num in numlist:
        result = result + num
    return result

In [204]:
var=adder(numlist)
print(var)
print(var+5)

28
33

### List comprehension

In [208]:
lst=[]
for i in range(20):
    x=i**2
    lst.append(x)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [210]:
lst2=[x**2  for x in range(20)]
print(lst2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [211]:
lst1=[x**2  for x in range(20) if x%2==0]
print(lst1)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [213]:
lst =[3*i for i in range(-4,4,2)]
lst

[-12, -6, 0, 6]

In [214]:
lst =[3*i for i in range(4,-4,-2)]
lst

[12, 6, 0, -6]

### Dictionaries

In [216]:
d1= {'name':'nihar','age':27,12:[1,2,3],(1,2,3):1}

In [217]:
d1

{'name': 'nihar', 'age': 27, 12: [1, 2, 3], (1, 2, 3): 1}

In [218]:
d1.values()

dict_values(['nihar', 27, [1, 2, 3], 1])

In [219]:
d1.keys()

dict_keys(['name', 'age', 12, (1, 2, 3)])

In [220]:
d1.items()

dict_items([('name', 'nihar'), ('age', 27), (12, [1, 2, 3]), ((1, 2, 3), 1)])

In [221]:
d2= {'name':'nihar','age':27,12:[1,2,3],(1,2,3):1,[1,2,3]:1}

TypeError: unhashable type: 'list'

In [224]:
stu={'name':'jhon','age':14,'school':'DAV'}
stu

{'name': 'jhon', 'age': 14, 'school': 'DAV'}

In [225]:
stu['school']

'DAV'

In [226]:
stu.items()

dict_items([('name', 'jhon'), ('age', 14), ('school', 'DAV')])

In [227]:
stu['key']='value'
stu

{'name': 'jhon', 'age': 14, 'school': 'DAV', 'key': 'value'}

In [228]:
del stu['key']

In [229]:
stu

{'name': 'jhon', 'age': 14, 'school': 'DAV'}

In [230]:
del stu

In [231]:
stu

NameError: name 'stu' is not defined

In [239]:
for key in d1:
    print('key :',key,'values : ',d1[key])

key : name values :  nihar
key : age values :  27
key : 12 values :  [1, 2, 3]
key : (1, 2, 3) values :  1

In [240]:
for key,value in d1.items():
    print('key :',key,'values : ',value)

key : name values :  nihar
key : age values :  27
key : 12 values :  [1, 2, 3]
key : (1, 2, 3) values :  1

In [242]:
for value in d1.values():
    print('values : ',value)

values :  nihar
values :  27
values :  [1, 2, 3]
values :  1

In [244]:
for i in d1:
    print('keys:',i)

keys: name
keys: age
keys: 12
keys: (1, 2, 3)

### Set

#### Set- 
       unordered
       it will have unique value
       Element of different datatype
add

remove

union

intersection

difference

symmetric diffence

In [250]:
a={'a','b','hi','c','d','x'}
b={'hi','x','y','z','c','d'}
a

{'a', 'b', 'c', 'd', 'hi', 'x'}

In [247]:
type(b)

set

In [248]:
'a' in a

True

In [249]:
'p' in a

False

In [252]:
a.add('pqr')
a

{'a', 'b', 'c', 'd', 'hi', 'pqr', 'x'}

In [254]:
a.remove('pqr')
a

{'a', 'b', 'c', 'd', 'hi', 'x'}

In [255]:
for val in a:
    print(val)

d
hi
c
b
a
x

In [256]:
c=a.union(b)
c

{'a', 'b', 'c', 'd', 'hi', 'x', 'y', 'z'}

In [258]:
d=a.intersection(b)
d

{'c', 'd', 'hi', 'x'}

In [259]:
e=a.difference(b)
e

{'a', 'b'}

In [267]:
f=a.symmetric_difference(b)
f

{'a', 'b', 'y', 'z'}

In [262]:
g=a.issubset(b)
g

False

In [263]:
a.issubset(c)

True

In [264]:
c.issuperset(b)

True

In [268]:
b.symmetric_difference(a)

{'a', 'b', 'y', 'z'}

## Tuples
just like list but immutable

In [269]:
t=(1234,6363,'hello',12)
t

(1234, 6363, 'hello', 12)

In [270]:
tup=1,2,3,4,'hi'
tup

(1, 2, 3, 4, 'hi')

In [271]:
type(tup)

tuple

In [274]:
u=t, (34,78)
u

((1234, 6363, 'hello', 12), (34, 78))

In [275]:
u[1]

(34, 78)

In [276]:
u[2]=1

TypeError: 'tuple' object does not support item assignment

In [277]:
t[3]

12

In [278]:
t[3]=34

TypeError: 'tuple' object does not support item assignment

In [279]:
t

(1234, 6363, 'hello', 12)

In [280]:
t[2]='hi'

TypeError: 'tuple' object does not support item assignment

In [282]:
u[1][0]=2

TypeError: 'tuple' object does not support item assignment

In [284]:
t1=(1,2,[1,2,3,'hi'],'hello',(12,23,34))
t1

(1, 2, [1, 2, 3, 'hi'], 'hello', (12, 23, 34))

In [285]:
t1[2]

[1, 2, 3, 'hi']

In [288]:
t1[2][1]=23
t1

(1, 2, [1, 23, 3, 'hi'], 'hello', (12, 23, 34))

In [289]:
t1[2][3]='hello'
t1

(1, 2, [1, 23, 3, 'hello'], 'hello', (12, 23, 34))

### Dynamic function agrument: args  and Kwargs

In [293]:
def myfunc(a,b):
    return sum(a,b)
myfunc(100,50)

150

In [1]:
def myfunc(a,b):
    return sum((a,b))
myfunc(100,50)

150

In [2]:
def myfunc(a,b,c,d,e):
    return sum((a,b,c,d,e))
myfunc(3,4,5,6,7)

25

In [3]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))
myfunc(3,4)

7

In [4]:
def myfunc(a,b,*args):
    return sum((a,b))+sum(args)
myfunc(100,2,4,5,6,7,8)

132

In [5]:
def fun(*args):
    return sum(args)
fun(90)

90

In [6]:
fun(12,12)

24

*args = for one type of values

**Kwargs= multiple type of values

In [13]:
def fun2(a,b,*args,**kwargs):
    print((a+b)+sum(args))
    if 'fruit' in kwargs:
        print('I love to eat {}'.format(kwargs['fruit']))
    else:
        print('I hate fruits')
fun2(22,34,fruit='Banana',vegitable='Carrot')

56
I love to eat Banana

In [14]:
fun2(22,34,vegitable='Carrot')

56
I hate fruits

In [15]:
fun2(44,67,89,90)

290
I hate fruits

### Lambda function,Map,Reduce,Filter

In [18]:
def sums(a,b):
    return(a+b)
sums(1,2)

3

In [19]:
adder=lambda a,b : a+b
adder(7,8)

15

In [23]:
# map: map a function to an iterable object
def square(x):
    return x**2
nums=[1,2,3,4,5,6,456]
list(map(square,nums))

[1, 4, 9, 16, 25, 36, 207936]

In [24]:
list(map(lambda a: a**2,nums))

[1, 4, 9, 16, 25, 36, 207936]

In [25]:
num2=[10,10,10,10,10,10,10,10,10]
list(map(lambda a,b:a*b,nums,num2))

[10, 20, 30, 40, 50, 60, 4560]

In [31]:
a=[2,3]
b=[4,5]
list(map(lambda x,y:x*y,a,b))

[8, 15]

In [34]:
# Filter
num1=[1,2,3,4,5,6,7,8,9,90,87,56]
def even(x):
    if x%2==0:
        return x
list(filter(even,num1))

[2, 4, 6, 8, 90, 56]

In [35]:
list(filter(lambda x: x%2==0,num1))

[2, 4, 6, 8, 90, 56]

In [36]:
#reduce :[1,43,23,4,8,91,1008,23,2,109] 
import functools as ft

In [38]:
num = [1,43,23,4,8,91,1008,23,2,109] 
max = ft.reduce(lambda a,b: a if (a>b) else b,num )
max

1008

In [40]:
sum=ft.reduce(lambda a,b: a+b,range(1,101))
sum

5050

## Python Pratice

In [56]:
# update set1by adding items from set2, expect common items 
set1={10,20,30,40,50}
set2={30,40,50,60,70}
set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

In [57]:
# Rename key city to Location in the following dictionary:
sampleDict= {'name':'Kelly','age':25
            ,'salary':8000,
            'city':'New York'}
sampleDict['location']=sampleDict.pop('city')
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}

In [60]:
# Change Brad's salary to 8500 from a given python Dictionary
sampleDict={
    'emp1':{'name':'Jhon','salary':7500},
    'emp2':{'name':'Emma','salary':8000},
    'emp3':{'name':'Brad','salary':6500}
}
sampleDict['emp3']['salary']=8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [3]:
n=int(input('please provide number of student:'))
stumark = [[input('\nName:'),float(input('\nScore :'))] for i in range(n)]
stumark

please provide number of student:3

Name:a

Score :23

Name:b

Score :12

Name:c

Score :87

[['a', 23.0], ['b', 12.0], ['c', 87.0]]

In [13]:
[name for name,marks in stumark if marks== sorted(list(marks for name,marks in stumark))[1]]

['a']

In [19]:
def fun(n):
    s=0
    for x in range(n+1):
        if (x%3==0)|(x%5==0):
            s=s+x
            print(x)
    print('Sum :',s)
fun(20)

0
3
5
6
9
10
12
15
18
20
Sum : 98

In [21]:
sum([x for x in range(n+1) if (x%3==0)|(x%5==0)])

98

In [22]:
def fun(n):
    return sum([x for x in range(n+1) if (x%3==0)|(x%5==0)])
fun(20)

98

In [32]:
def speed(n):
    if n<=70:
        print('ok!')
    else:
        pts=int((n-70)/5)
        print('Points:',pts)
        if (pts>12):
            print('License suspended')
speed(200)

Points: 26
License suspended

In [34]:
def fun(*args):
    n=len(args)
    if n==4:
        print('Hello')
fun('Niha')

In [36]:
import string 
letter = string.ascii_lowercase
n=int(input('how many  shift ?'))
shifted= letter[n:]+letter[:n]
print(letter)
shifted

how many  shift ?4
abcdefghijklmnopqrstuvwxyz

'efghijklmnopqrstuvwxyzabcd'

In [41]:
mapper = {letter[i]:shifted[i] for i in range(len(letter))}
text ='Miss Polly had a dolly who was sick!!!'
''.join([mapper[alph] if alph in mapper.keys() else alph for alph in text])

'Mmww Psppc leh e hsppc als aew wmgo!!!'

In [62]:

def perfect(n):
    s=0
    for i in range(1,n):
        if n%i==0:
            s += i 
        if s==n:
            return True
        else:
            return False
        
for i in range(1,1001):
    if perfect(i):
        print('perfect',i)

In [83]:
def perfect(n):
    s=0
    for i in range(1,n):
        if n%i==0:
            s = s+i 
        if s==n:
            return True
        else:
            return False
for i in range(1,1001):
    if perfect(i):
        print(i)

In [82]:
for i in range(1,1001):
    if perfect(i):
        print(i)

In [84]:
# create complex number in python
z = 2 + 3j
print(z)
type(z)

(2+3j)

complex

In [85]:
z1 = complex(3,4)
print(z1)
type(z1)

(3+4j)

complex

In [86]:
z2 = complex(real = 4, imag = -3)
print(z2)
type(z2)

(4-3j)

complex

In [87]:
print(z.real)
print(z.imag)
z.conjugate()

2.0
3.0

(2-3j)

In [88]:
z1 = 3-5j
z2 = 4+7j
print(z1,z2, sep = '\n')
print(type(z1),type(z2), sep = '\n')
z3 = z1 + z2
print(z3)
type(z3)
print(z3.real)
print(z3.imag)
print(z3.conjugate())
abs(z3)

(3-5j)
(4+7j)
<class 'complex'>
<class 'complex'>
(7+2j)
7.0
2.0
(7-2j)

7.280109889280518

# OOPS

Object Oriented Programming
Object Oriented Programming (OOP) tends to be one of the major obstacles for beginners when they are first starting to learn Python.

For this lesson we will construct our knowledge of OOP in Python by building on the following topics:

Objects
Using the class keyword

Creating class attributes

Creating methods in a class

Learning about Inheritance

Learning about Polymorphism

Learning about Special Methods for classes

Lets start the lesson by remembering about the Basic Python Objects. For example:

In [90]:
student1=['nihar',27,'Data Scientist']
student2=['Neha',20,'Developer']
student3=['Kanika',38,'consultant']
print('name is',student1[0])

name is nihar

In [91]:
# without oops:
def createperson(student):
    global name,age,role
    name=student[0]
    age=student[1]
    role=student[2]
    print('name is:',name,' age is ;',age)
createperson(student1)
print(name)
print(age)

name is: nihar  age is ; 27
nihar
27

In [94]:
# with OOPS
count=0
class Person:
    def createperson(self,person):
        self.name=person[0]
        self.age=person[1]
        self.role=person[2]
        count=count+1
        print(count,'The Person ',self.name,'has been created')
        
    
    def display_person(self):
        print('The name of person is : ' + self.name + ' The age of person is : ' + str(self.age) + ' The profession of person is : ' + self.role) 
    
manasi =Person()
neha=Person()
kanika=Person()
manasi.createperson()
Mansi.create_person(('Mansi',28,'Data Scientist'))
Mansi.display_person()
Neha.create_person(('Neha',20,'Developer'))
Kanika.create_person(('Kanika',38,'consultant'))
Neha.display_person()
Kanika.display_person()
print(Neha.name)

print(dir(Mansi))

print(Neha.name)

TypeError: createperson() missing 1 required positional argument: 'person'

In [95]:
#With OOPS

class Person:

    def create_person(self,person):
 
        self.name=person[0]
        self.age=person[1]
        self.role = person[2]
        print('The person: ' + self.name + ' has been created' ) 

    def display_person(self):
        print('The name of person is : ' + self.name + ' The age of person is : ' + str(self.age) + ' The profession of person is : ' + self.role) 

Mansi = Person()
Neha = Person()
Kanika = Person()

Mansi.create_person(('Mansi',28,'Data Scientist'))
Mansi.display_person()
Neha.create_person(('Neha',20,'Developer'))
Kanika.create_person(('Kanika',38,'consultant'))
Neha.display_person()
Kanika.display_person()
print(Neha.name)

print(dir(Mansi))

print(Neha.name)

The person: Mansi has been created
The name of person is : Mansi The age of person is : 28 The profession of person is : Data Scientist
The person: Neha has been created
The person: Kanika has been created
The name of person is : Neha The age of person is : 20 The profession of person is : Developer
The name of person is : Kanika The age of person is : 38 The profession of person is : consultant
Neha
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'create_person', 'display_person', 'name', 'role']
Neha

In [97]:
print(type(1))
print(type('str'))
print(type([]))
print(type({}))
print(type(()))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

In [98]:
class Sample:
    pass
x = Sample()
print(type(x))

<class '__main__.Sample'>

In [107]:
class Dog:
    def __init__(self,breed):
        self.breed=breed
        print('Dog object created and breed is ',self.breed)
sam=Dog('Lab')
sam.breed

Dog object created and breed is  Lab

'Lab'

In [105]:
class RectangleArea:
    def __init__(self,l,w):
        self.l=l
        self.w=w
    def Area(self):
        Area=self.l*self.w
        print(Area)
rect=RectangleArea(9,7)
rect.Area()

63

In [111]:
class Circle:
    pi=3.14
    
    def __init__(self,radius=1):
        self.radius=radius
        self.area=Circle.pi*(radius**2)
    def setRadius(self,new_radius):
        self.radius= new_radius
        self.area=new_radius*new_radius*self.pi
    def getCircumference(self):
        return self.radius*self.pi*2
c=Circle(2)
print('radius is:',c.radius)
print('area is',c.area)
print('Circumference is ',c.getCircumference())

radius is: 2
area is 12.56
Circumference is  12.56

### Inheritance

In [119]:
class Animal:
    def __init__(self):
        print ('Animal Created')
    def whoAm(self):
        print('Animal')
    def eat(self):
        print('Eating')
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print ('Dog Created')
    def whoAmI(self):
        print('Dog')
    def bark(self):
        print('Barking')
dog1=Dog()
dog1.eat()
dog1.whoAm()
dog1.whoAmI()
dog1.bark()

Animal Created
Dog Created
Eating
Animal
Dog
Barking

##  Polymerphism

In [120]:
class Dog:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return self.name + 'says woof!!'
class Cat:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return self.name + 'says meoww!!!'
niko = Dog('Niko')
felix= Cat('Felix')
print(niko.speak())
print(felix.speak())

Nikosays woof!!
Felixsays meoww!!!

In [122]:
class Animal:
    def __init__(self,name):
        self.name=name
    def speak(self):
        raise NotImpementedError('Subclass must implement abstract method')
class Dog(Animal):
    def __init__(self,name):
        self.name=name
    #
class Cat(Animal):
    def __init__(self,name):
        self.name=name
    def speak(self):
        return self.name + 'says meoww!!!'
niko = Dog('Niko')
felix= Cat('Felix')
print(niko.speak())
print(felix.speak())

NameError: name 'NotImpementedError' is not defined

# Encapsulation

In [124]:
class employee(object): 
    def __init__(self):
        self.name = 'myname'
        self._age = 24  
        self.__salary = 12340 
    def 
object1 = employee() 
print(object1.name) 
print(object1._age) 
print(object1.__salary)

myname
24

AttributeError: 'employee' object has no attribute '__salary'

In [128]:

class car:
    def __init__(self,speed,color):
        self.__speed=speed
        self.__color=color
        
    def set_speed(self,value):
        self.__speed =value
        
    def get_speed(self):
        return self.__speed
    
    def set_color(self,value):
        self.__color =value
        
    def get_color(self):
        return self.__color
    
ford = car(200,'Red')
chev= car(180,'blue')
audi= car(190,'Black')

ford.set_speed(400)
ford.__speed =500
print(ford.get_speed())
print(ford.get_color())

400
Red

In [129]:
class Person(object):
	def assing_name_and_age(self,name,age):
		self.name=name
		self.__age=age
		self.__display()
		return None
	def __display(self):
		print(self.name,self.__age)
		return None

per1=Person()
per1.assing_name_and_age('John',32)

#per1.__display()
print(per1.name)
#print(per1.__age)

John 32
John

In [131]:
class Vehicle:
    def __init__(self,max_speed,milage):
        self.max_speed=max_speed
        self.milage=milage
    def display(self):
        print(self.max_speed,self.milage,sep='\n')
honda = Vehicle(180,12)
honda.display()

180
12

In [133]:
class Vehicle:
    pass
help(Vehicle)

Help on class Vehicle in module __main__:

class Vehicle(builtins.object)
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [139]:
class Vehicle:
    def __init__(self,name,max_speed,milage):
        self.name=name
        self.max_speed=max_speed
        self.milage=milage
class Bus(Vehicle):
    pass
bus=Bus('School Volvo',180,12)
print('Vehicle Name :',bus.name,' ','Speed :',bus.max_speed,' ','Milage :', bus.milage)

Vehicle Name : School Volvo   Speed : 180   Milage : 12