In [1]:
a = 5
print(a)
type(a)

5

int

In [2]:
a = 5
b = 6
c = a < b
print(c)
type(c)

True

bool

In [3]:
x = 'My name is Nihar'
print(x)
type(x)

My name is Nihar

str

In [5]:
d = 5.23
print(d)
type(d)

5.23

float

In [6]:
z = 5 + 6j
print(z)
type(z)

(5+6j)

complex

In [8]:
y = int(d)
print(y)
type(y)

5

int

In [9]:
l = str(y)
print(l)
type(l)

5

str

In [11]:
m = "abc"
print(m,type(m), sep= '\n')
n = bool(m)
print(n,type(n), sep= '\n')

abc
<class 'str'>
True
<class 'bool'>

In [8]:
h = "Hello World"
s = h[2:5]
print(s)

llo

In [9]:
i = 'Umbrella'
a = i[4]
print(a)

e

In [10]:
5 != 10

True

In [11]:
a = 5
b = 10
c = (a != b)
print(c, type(c), sep ='\n')

True
<class 'bool'>

In [22]:
user = 'My name is Nihar and I am an Automobile Engineer'
print(user)
word = user.split()
print(word)
word.sort()
print(word)
print(type(word))
words = str(word)
print(words)
print(type(words))

My name is Nihar and I am an Automobile Engineer
['My', 'name', 'is', 'Nihar', 'and', 'I', 'am', 'an', 'Automobile', 'Engineer']
['Automobile', 'Engineer', 'I', 'My', 'Nihar', 'am', 'an', 'and', 'is', 'name']
<class 'list'>
['Automobile', 'Engineer', 'I', 'My', 'Nihar', 'am', 'an', 'and', 'is', 'name']
<class 'str'>

In [29]:
a = 'nihar'
b = '_swain'
c = a + b
print(c)
d = 'nihar #'
e = ' swain '
f = d + e
print(f)

nihar_swain
nihar # swain

In [34]:
input_str = "Welcome to INDIA. india is awesome"
sub = "INDIA"
occurrences = input_str.count(sub)
print('Occurrences of INDIA : ',occurrences)

Occurrences of INDIA :  1

In [51]:
x = list('Hello World')
print(x)
x[2] = 'n'
x[3] = 'n'
print(x)
y = "".join(x)
print(y)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
['H', 'e', 'n', 'n', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
Henno World